.charityDiv{
  background-color: cornsilk;
  align-content: center;
  }

#blueButton{
  background-color: darkblue;
  color: antiquewhite;
}

<<<<<<< HEAD
=======
.charity {
  float: left;
}

.mostRecent {
  float: right;
}

<<<<<<< HEAD
>>>>>>> 5daaa40 (fixed MC)
.charityCard{
  margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 60%;
	border: 5px solid rgb(83, 52, 133);
  background-color: antiquewhite;
	font-size: 125%;
	padding: 25px;
}

=======
>>>>>>> b813bf2 (I fixed some merge conflicts and deleted comments.)
