* {
  font-family: "Lora", serif;
}
header {
  display: flex;
  color: white;
  background-color: #006064;
  font-family: "Lora", serif;
  padding: 1%;
  padding-left: 5%;
  align-content: center;
  z-index: 3;
  border: 2px solid #d3d3d3;
}

header h1 {
  text-align: center;
  padding-bottom: 20px;
}

/* INPUT FORM */

.charityDiv {
  align-content: center;
  font-family: "Lora", serif;
  border-radius: 10px;
}

#inputForm {
  text-align: center;
}
#clearButton {
  margin: 5px;
}

#submitBtn {
  margin: 5px;
}

/* SEARCH RESULTS */

.charityBox {
  color: #424242;
  text-align: center;
  border: 2px solid #eceff1;
  background-color: #eceff1;
  font-family: "Lora", serif;
  border-radius: 10px;
  z-index: 3;
  border: 2px solid #d3d3d3;
}

.charityBox p {
  color: black;
}

.form-group {
  margin: 3px;
}

.listContainer {
  overflow: scroll;
  height: 425px;
  font-family: "Lora", serif;
  border-radius: 10px;
  z-index: 3;
}

.charityCard {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 60%;
  background-color: #eceff1;
  font-size: 125%;
  padding: 25px;
  border-radius: 10px;
  z-index: 3;
  border: 2px solid #d3d3d3;
}

.charityCardNo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 60%;
  border: 5px solid #424242;

  font-size: 125%;
  padding: 25px;
  content: "No Results Found";
}

/* MAP */

#map {
  top: 10px;
  margin-left: 5%;
  height: 500px;
  z-index: 3;
  border: 2px solid #d3d3d3;
  border-radius: 10px;
}

/* MOST RECENT */

.mostRecent h3 {
  text-align: center;
  color: #424242;
  margin: 5% 13% 5% auto;
  float: right;
  padding: 20px 10px;
  background-color: #eceff1;
  border-radius: 10px;
}

.mostRecent {
  width: 100%;
  top: 10%;
  display: block;
  border-radius: 10px;
  border: 2px solid #d3d3d3;
  z-index: 3;
}

.recentList {
  overflow: scroll;
  height: 300px;
  margin-left: 20%;
}

footer {
  color: black;
  font-family: cursive;
  margin: 20px;
  padding: 20px;
}
